<div id="container">
    <div class="row justify-content-between">
        <div style="margin-left: 90px;"  class="col-4">
            <div class="card" style="width:400px; " >
                <img class="card-img-top mt-3 icon" src="/assets/emp-list.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">List All Owners</h4>
                    <h5 class="card-text">List All Pet owners who are available in the Lilpaws Pet Care System</h5>
                    
                    <a class="btn btn-warning" (click)="loadOwners()"><b>List All Owners</b></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card"style="width:400px" >
                <img class="card-img-top mt-3 icon" src="/assets/peticon.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">List All Pets</h4>
                    <h5 class="card-text">List All Pets who are registered in the Lilpaws Pet Care System</h5>
                    
                    <a  class="btn btn-warning" (click)="loadPets()"><b>List All Pets</b></a>
                </div>
            </div>
        </div>
      </div>
    </div>
    