

#container {
  background-image: url("/assets/2.jpg");
  height: 100%;
  background-size: 100%;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  margin-top: 200px;
  margin-bottom: 150px;
  background-color: rgba(206, 241, 195, 0.377);
}



 
  