
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#conta{
    position: absolute center;
    background-color: rgb(190, 233, 213);
    background-image: url("/assets/pet.jpg");
    background-size: cover;
    
    
    
}

input,
button {
    border: 3px;
    outline:3px;
    background:#3c6665;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

$contW: 800px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
    .cont.s--signup & {
        @content;
    }
}

.tip {
    font-size: 20px;
    margin: 140px auto 50px;
    text-align: right;
}

.cont {
    overflow: hidden;
    position: relative;
    width: $contW;
    height: 750px;
    margin: 0 auto 200px;
    background-color: rgba(181, 224, 204, 0.452);
}

.form {
    position: absolute;
   
    height: 100%;
    transition: transform $switchAT ease-in-out;
    padding: 50px 30px 0;
    margin-top: 100px;
    margin-bottom: 10px;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: $formW;
    top: 0;
    height: 100%;
    padding-left: $imgW;
}

.img {
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;
    width: $imgW;
    height: 100%;
    padding-top: 380px;

    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 350px;
        height: 100%;
      //  background-image: url("/assets/pet.jpg");
        background-size: cover;
    }


    &__text {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 3 20px;
        text-align: center;
        color: #fff;
        transition: transform $switchAT ease-in-out;

        h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }

        &.m--up {
            @include signUpActive {
                transform: translateX($imgW * 2);
            }
        }

        &.m--in {
            transform: translateX($imgW * -2);

            @include signUpActive {
                transform: translateX(0);
            }
        }
    }

    &__btn {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 100px;
        height: $btnH;
        margin: 0 auto;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;

        &:after {
            content: "";
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: transform $switchAT;

            &.m--in {
                transform: translateY($btnH * -2);

                @include signUpActive {
                    transform: translateY(0);
                }
            }

            &.m--up {
                @include signUpActive {
                    transform: translateY($btnH * 2);
                }
            }
        }
    }
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    width: $inputW;
    margin: 25px auto 0;
    text-align: center;

    span {
        font-size: 12px;
        color: #290f4a;
        text-transform: uppercase;
    }
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
