<div id="conta" class="mt-3">
    <div class="cont mt-5">
        <form class="cont" >
        <!-- #petForm = "ngForm" (ngSubmit) = "onSubmit(petForm)"> -->
            <div class="form-group ">
                <br>
                <h2><b>Update An Existing Pet</b></h2>
                <div>
                    <label>Type</label>
 
                    <input type="text" class="form-control" id="type" ngModel name="type" placeholder="Type of Pet  Ex: Dog / Cat / Rabbit etc.">
                </div>
                <div>
                    <label>Breed</label>
 
                    <input type="text" class="form-control" id="breed" ngModel name="breed" placeholder="Breed">
                </div>
                <div>
                    <label>Pet Name</label>
 
                    <input type="text" class="form-control" id="name" ngModel name="name" placeholder="Name of the Pet">
                </div>
                <div>
                   <label>Age</label>
 
                   <input type="text" class="form-control" id="age" ngModel name="age" placeholder="Age">
               </div>
                <div>
                    <label>Owner's Name</label>
 
                    <input type="text" class="form-control" id="ownerName" ngModel name="ownerName" placeholder="Name of the owner">
               </div>
             </div>
                
 <br><br>
            <div style="text-align: center;">
                <button  type="submit" style="margin:auto; width: 150px;" class="btn btn-secondary btn-md">Update</button>
                <br><br>
                <button  type="submit" style="margin:auto; width: 150px; " href="#" class="btn btn-danger btn-md mx-3">Cancel</button>
 
                </div>
            
 
        </form>
        <div class="sub-cont">
            <div class="img">
 
            </div>
 
        </div>
    </div>
